*{
    box-sizing: border-box;
}
.box{
    display: flex;
}
.one{
    position: relative;
    left: 21px;
    border-radius: 5px;
    width: 400px;
    height: 380px;
    margin: auto;
    margin-top: 47px;
}
img{
    width: 100%;
    height: 378px;
}